* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(206, 234, 252, 0.568);
    font-family: 'Figtree', sans-serif;
    margin-top: 100px;
}

.wrapper {
    display: flex;
    flex-direction: column;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;
    width: 100%;
}


.quiz-container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
}

.quiz-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}



.quiz-header h2 {
    background: #111;
    padding: 0.4rem 1rem;
    color: #fff;
    border-radius: 5px;
}

.quiz-body {
    padding: 2rem 2rem;
}

.quiz-body h3 {
    padding: 1rem 0;
    font-weight: 500;
    text-align: center;
    margin: 0;
    text-align: center;
}

.quiz-body ul {
    list-style: none;
    padding: 0;
}

.quiz-body ul li {
    margin: 1rem 0;
    font-size: 1rem;
    border: 1px solid #aab7b8;
    padding: 0.7rem;
    border-radius: 5px;
    cursor: pointer;
}

.quiz-body ul li label {
    cursor: pointer;
    padding: 0 0.4rem;
}

.quiz-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}



.quiz-footer button {
    padding: 0.6rem 1.5rem;
    outline: none;
    background: rgb(41, 128, 185);
    border: 0;
    cursor: pointer;
    font-family: inherit;
    border-radius: 5px;
    color: #fff;
    opacity: 0.9;
    transition: 0.3s ease-in-out;
}

.quiz-body button {
    padding: 0.6rem 1rem;
    outline: none;
    background: #111;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    border-radius: 5px;
    color: #fff;
    opacity: 0.9;
    transition: 0.3s ease-in-out;
    display: block;
    margin: 0 auto;
}

.quiz-footer button:hover {
    opacity: 1;
}
.quiz-container {
    display: block;
}

.quiz-container.active {
    display: block;
}

.carousel-controls {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

#prevBtn, #nextBtn {
    background-color: dodgerblue; /* Зелёный цвет фона */
    color: white; /* Белый текст */
    padding: 10px 20px; /* Внутренние отступы */
    border: none; /* Убираем границу */
    border-radius: 5px; /* Скругленные углы */
    cursor: pointer; /* Указатель мыши меняется на указатель */
    font-size: 16px; /* Размер шрифта */
    transition: background-color 0.3s ease; /* Анимация изменения цвета фона */
}

#prevBtn:hover, #nextBtn:hover {
    background-color: #0f2dff; /* Изменение цвета фона при наведении */
}

#prevBtn:active, #nextBtn:active {
    background-color: #0f2dff; /* Изменение цвета фона при нажатии */
}

#prevBtn:disabled {
    background-color: #ccc; /* Цвет для заблокированной кнопки */
    cursor: not-allowed; /* Указатель мыши для заблокированной кнопки */
}

#text_input {
    width: 100%;
    border: none;
}
#text_input:focus{
    outline: none;
}


